<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="edit-signature">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Edit Signature</h4>
            <th:block
                    th:replace="fragments/signature/single-signature-crud-form :: single-signature-crud-form(url=@{/signatures/update/{id}(id=${signatureEntity.id})}, submitBtnText='Update Signature')"
                    th:remove="tag">
            </th:block>
        </div>
    </div>
</div>
</body>
</html>