<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>

<div th:fragment="index">
    <hr/>
    <h1>Bigellor - A web-based Bigraph Modelling Tool</h1>
    <hr>

    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="https://via.placeholder.com/350x150" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Tutorial</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>

<!--    <table>-->
<!--        <tbody>-->
<!--        <tr th:each="item : ${projects}">-->
<!--            <td th:text="${item}">some item...</td>-->
<!--        </tr>-->
<!--        </tbody>-->
<!--    </table>-->

    <!--    <div class="card" style="width: 18rem;" data-th-each="eachProject : ${projects}">-->
    <!--        <img class="card-img-top" src="https://via.placeholder.com/350x150" alt="Card image cap">-->
    <!--        <div class="card-body">-->
    <!--            <h5 class="card-title">${eachProject.name}</h5>-->
    <!--            <p class="card-text">${eachProject.projectId}</p>-->
    <!--            <a href="#" class="btn btn-primary">Go somewhere</a>-->
    <!--        </div>-->
    <!--    </div>-->

</div>

</body>
</html>